# 1. 간단 개념 정리

## Random Forest

앙상블(ensemble) 머신러닝 모델중 하나로, 여러 개의 의사 결정 트리를 형성하고 새로운 데이터 포인트를 각 트리에 동시에 통과시킨다. 그리고 각 트리가 분류한 결과에서 투표를 실시하여 가장 많이 득표한 결과를 최종 분류 결과로 선택한다.  
이러한 방법으로 의사 결정 트리가 overfitting 되는 문제를 해결한다.

## Naive Bayes

### 베이즈 정리
두 확률 변수의 사전 확률과 사후 확률 사이의 관계를 나타내는 정리

### Naive Bayes Classification
스팸 메일 필터, 텍스트 분류, 감정 분석, 추천 시스템 등에 광범위하게 활용되는 분류 기법으로, 베이즈 정리에 기반한다.  
예를 들어 날씨 정보와 축구 경기 여부에 대한 사전 데이터가 있을 때, 이를 베이즈 정리를 이용해 날씨에 따라 축구 경기를 할 확률을 구할 수 있다.

## SVM (Support Vector Machine)

데이터 분류를 위한 기준 선인 결정 경계(decision boundary)를 정의하는 머신러닝 모델이다. 이 경계를 기준으로 분류되지 않은 새로운 데이터가 경계의 어느 쪽에 속하는지 확인하여 분류 작업을 수행할 수 있다.

# 2. 예측 모델 구현

In [1]:
import numpy as np
import pandas as pd

## Random Forest

In [2]:
from sklearn.ensemble import RandomForestClassifier

# Data from here: https://www.kaggle.com/c/titanic/data
data = pd.read_csv('titanic_train.csv')

In [3]:
data.shape

(891, 12)

In [4]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [6]:
data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [7]:
data.dropna(subset=['Age', 'Embarked'], inplace=True)
data.shape

(712, 12)

In [8]:
data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          529
Embarked         0
dtype: int64

In [9]:
# x_train = data[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Embarked']].to_numpy()
x_feature = data[['Pclass', 'Age', 'SibSp', 'Parch', 'Fare']].to_numpy()
x_feature

array([[ 3.    , 22.    ,  1.    ,  0.    ,  7.25  ],
       [ 1.    , 38.    ,  1.    ,  0.    , 71.2833],
       [ 3.    , 26.    ,  0.    ,  0.    ,  7.925 ],
       ...,
       [ 1.    , 19.    ,  0.    ,  0.    , 30.    ],
       [ 1.    , 26.    ,  0.    ,  0.    , 30.    ],
       [ 3.    , 32.    ,  0.    ,  0.    ,  7.75  ]])

In [10]:
x_train = x_feature[:534]
x_train

array([[ 3.    , 22.    ,  1.    ,  0.    ,  7.25  ],
       [ 1.    , 38.    ,  1.    ,  0.    , 71.2833],
       [ 3.    , 26.    ,  0.    ,  0.    ,  7.925 ],
       ...,
       [ 2.    , 31.    ,  0.    ,  0.    , 13.    ],
       [ 3.    , 18.    ,  0.    ,  0.    ,  7.775 ],
       [ 3.    , 24.5   ,  0.    ,  0.    ,  8.05  ]])

In [11]:
y_feature = data['Survived'].to_numpy()
y_feature

array([0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1,
       0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1,
       1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0,
       1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1,
       1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0,
       0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1,
       0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1,
       0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0,
       1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1,
       0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0,
       1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0,
       0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0,
       1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1,
       1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0,
       1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1,
       1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 1, 0], dtype=int64)

In [12]:
y_train = y_feature[:534]
y_train

array([0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1,
       0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1,
       1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0,
       1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1,
       1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0,
       0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1,
       0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1,
       0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0,
       1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1,
       0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0,
       1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0], dtype=int64)

In [13]:
#x_test = test[['Pclass', 'Age', 'SibSp', 'Parch', 'Fare']].to_numpy()

x_test = x_feature[534:]
x_test

array([[3.000000e+00, 1.800000e+01, 0.000000e+00, 0.000000e+00,
        9.841700e+00],
       [3.000000e+00, 4.300000e+01, 1.000000e+00, 6.000000e+00,
        4.690000e+01],
       [1.000000e+00, 3.600000e+01, 0.000000e+00, 1.000000e+00,
        5.123292e+02],
       [1.000000e+00, 2.700000e+01, 0.000000e+00, 0.000000e+00,
        7.672920e+01],
       [3.000000e+00, 2.000000e+01, 0.000000e+00, 0.000000e+00,
        9.225000e+00],
       [3.000000e+00, 1.400000e+01, 5.000000e+00, 2.000000e+00,
        4.690000e+01],
       [2.000000e+00, 6.000000e+01, 1.000000e+00, 1.000000e+00,
        3.900000e+01],
       [2.000000e+00, 2.500000e+01, 1.000000e+00, 2.000000e+00,
        4.157920e+01],
       [3.000000e+00, 1.400000e+01, 4.000000e+00, 1.000000e+00,
        3.968750e+01],
       [3.000000e+00, 1.900000e+01, 0.000000e+00, 0.000000e+00,
        1.017080e+01],
       [3.000000e+00, 1.800000e+01, 0.000000e+00, 0.000000e+00,
        7.795800e+00],
       [1.000000e+00, 1.500000e+01, 0.000000e+00, 1.000000e+00,
        2.113375e+02],
       [1.000000e+00, 3.100000e+01, 1.000000e+00, 0.000000e+00,
        5.700000e+01],
       [3.000000e+00, 4.000000e+00, 0.000000e+00, 1.000000e+00,
        1.341670e+01],
       [3.000000e+00, 2.500000e+01, 0.000000e+00, 0.000000e+00,
        7.225000e+00],
       [1.000000e+00, 6.000000e+01, 0.000000e+00, 0.000000e+00,
        2.655000e+01],
       [2.000000e+00, 5.200000e+01, 0.000000e+00, 0.000000e+00,
        1.350000e+01],
       [3.000000e+00, 4.400000e+01, 0.000000e+00, 0.000000e+00,
        8.050000e+00],
       [1.000000e+00, 4.900000e+01, 1.000000e+00, 1.000000e+00,
        1.108833e+02],
       [3.000000e+00, 4.200000e+01, 0.000000e+00, 0.000000e+00,
        7.650000e+00],
       [1.000000e+00, 1.800000e+01, 1.000000e+00, 0.000000e+00,
        2.275250e+02],
       [1.000000e+00, 3.500000e+01, 0.000000e+00, 0.000000e+00,
        2.628750e+01],
       [3.000000e+00, 1.800000e+01, 0.000000e+00, 1.000000e+00,
        1.445420e+01],
       [3.000000e+00, 2.500000e+01, 0.000000e+00, 0.000000e+00,
        7.741700e+00],
       [3.000000e+00, 2.600000e+01, 1.000000e+00, 0.000000e+00,
        7.854200e+00],
       [2.000000e+00, 3.900000e+01, 0.000000e+00, 0.000000e+00,
        2.600000e+01],
       [2.000000e+00, 4.500000e+01, 0.000000e+00, 0.000000e+00,
        1.350000e+01],
       [1.000000e+00, 4.200000e+01, 0.000000e+00, 0.000000e+00,
        2.628750e+01],
       [1.000000e+00, 2.200000e+01, 0.000000e+00, 0.000000e+00,
        1.515500e+02],
       [1.000000e+00, 2.400000e+01, 0.000000e+00, 0.000000e+00,
        4.950420e+01],
       [1.000000e+00, 4.800000e+01, 1.000000e+00, 0.000000e+00,
        5.200000e+01],
       [3.000000e+00, 2.900000e+01, 0.000000e+00, 0.000000e+00,
        9.483300e+00],
       [2.000000e+00, 5.200000e+01, 0.000000e+00, 0.000000e+00,
        1.300000e+01],
       [3.000000e+00, 1.900000e+01, 0.000000e+00, 0.000000e+00,
        7.650000e+00],
       [1.000000e+00, 3.800000e+01, 0.000000e+00, 0.000000e+00,
        2.275250e+02],
       [2.000000e+00, 2.700000e+01, 0.000000e+00, 0.000000e+00,
        1.050000e+01],
       [3.000000e+00, 3.300000e+01, 0.000000e+00, 0.000000e+00,
        7.775000e+00],
       [2.000000e+00, 6.000000e+00, 0.000000e+00, 1.000000e+00,
        3.300000e+01],
       [3.000000e+00, 1.700000e+01, 1.000000e+00, 0.000000e+00,
        7.054200e+00],
       [2.000000e+00, 3.400000e+01, 0.000000e+00, 0.000000e+00,
        1.300000e+01],
       [2.000000e+00, 5.000000e+01, 0.000000e+00, 0.000000e+00,
        1.300000e+01],
       [1.000000e+00, 2.700000e+01, 1.000000e+00, 0.000000e+00,
        5.310000e+01],
       [3.000000e+00, 2.000000e+01, 0.000000e+00, 0.000000e+00,
        8.662500e+00],
       [2.000000e+00, 3.000000e+01, 3.000000e+00, 0.000000e+00,
        2.100000e+01],
       [2.000000e+00, 2.500000e+01, 1.000000e+00, 0.000000e+00,
        2.600000e+01],
       [3.000000e+00, 2.500000e+01, 1.000000e+00, 0.000000e+00,
        7.925000e+00],
       [1.000000e+00, 2.900000e+01, 0.000000e+00, 0.000000e+00,
        2.113375e+02],
       [3.000000e+00, 1.100000e+01, 0.000000e+00, 0.000000e+00,
        1.878750e+01],
       [2.000000e+00, 2.300000e+01, 0.000000e+00, 0.000000e+00,
        1.300000e+01],
       [2.000000e+00, 2.300000e+01, 0.000000e+00, 0.000000e+00,
        1.300000e+01],
       [3.000000e+00, 2.850000e+01, 0.000000e+00, 0.000000e+00,
        1.610000e+01],
       [3.000000e+00, 4.800000e+01, 1.000000e+00, 3.000000e+00,
        3.437500e+01],
       [1.000000e+00, 3.500000e+01, 0.000000e+00, 0.000000e+00,
        5.123292e+02],
       [1.000000e+00, 3.600000e+01, 1.000000e+00, 0.000000e+00,
        7.885000e+01],
       [1.000000e+00, 2.100000e+01, 2.000000e+00, 2.000000e+00,
        2.623750e+02],
       [3.000000e+00, 2.400000e+01, 1.000000e+00, 0.000000e+00,
        1.610000e+01],
       [3.000000e+00, 3.100000e+01, 0.000000e+00, 0.000000e+00,
        7.925000e+00],
       [1.000000e+00, 7.000000e+01, 1.000000e+00, 1.000000e+00,
        7.100000e+01],
       [3.000000e+00, 1.600000e+01, 1.000000e+00, 1.000000e+00,
        2.025000e+01],
       [2.000000e+00, 3.000000e+01, 0.000000e+00, 0.000000e+00,
        1.300000e+01],
       [1.000000e+00, 1.900000e+01, 1.000000e+00, 0.000000e+00,
        5.310000e+01],
       [3.000000e+00, 3.100000e+01, 0.000000e+00, 0.000000e+00,
        7.750000e+00],
       [2.000000e+00, 4.000000e+00, 1.000000e+00, 1.000000e+00,
        2.300000e+01],
       [3.000000e+00, 6.000000e+00, 0.000000e+00, 1.000000e+00,
        1.247500e+01],
       [3.000000e+00, 3.300000e+01, 0.000000e+00, 0.000000e+00,
        9.500000e+00],
       [3.000000e+00, 2.300000e+01, 0.000000e+00, 0.000000e+00,
        7.895800e+00],
       [2.000000e+00, 4.800000e+01, 1.000000e+00, 2.000000e+00,
        6.500000e+01],
       [2.000000e+00, 6.700000e-01, 1.000000e+00, 1.000000e+00,
        1.450000e+01],
       [3.000000e+00, 2.800000e+01, 0.000000e+00, 0.000000e+00,
        7.795800e+00],
       [2.000000e+00, 1.800000e+01, 0.000000e+00, 0.000000e+00,
        1.150000e+01],
       [3.000000e+00, 3.400000e+01, 0.000000e+00, 0.000000e+00,
        8.050000e+00],
       [1.000000e+00, 3.300000e+01, 0.000000e+00, 0.000000e+00,
        8.650000e+01],
       [3.000000e+00, 4.100000e+01, 0.000000e+00, 0.000000e+00,
        7.125000e+00],
       [3.000000e+00, 2.000000e+01, 0.000000e+00, 0.000000e+00,
        7.229200e+00],
       [1.000000e+00, 3.600000e+01, 1.000000e+00, 2.000000e+00,
        1.200000e+02],
       [3.000000e+00, 1.600000e+01, 0.000000e+00, 0.000000e+00,
        7.775000e+00],
       [1.000000e+00, 5.100000e+01, 1.000000e+00, 0.000000e+00,
        7.795830e+01],
       [3.000000e+00, 3.050000e+01, 0.000000e+00, 0.000000e+00,
        7.750000e+00],
       [3.000000e+00, 3.200000e+01, 0.000000e+00, 0.000000e+00,
        8.362500e+00],
       [3.000000e+00, 2.400000e+01, 0.000000e+00, 0.000000e+00,
        9.500000e+00],
       [3.000000e+00, 4.800000e+01, 0.000000e+00, 0.000000e+00,
        7.854200e+00],
       [2.000000e+00, 5.700000e+01, 0.000000e+00, 0.000000e+00,
        1.050000e+01],
       [2.000000e+00, 5.400000e+01, 1.000000e+00, 3.000000e+00,
        2.300000e+01],
       [3.000000e+00, 1.800000e+01, 0.000000e+00, 0.000000e+00,
        7.750000e+00],
       [3.000000e+00, 5.000000e+00, 0.000000e+00, 0.000000e+00,
        1.247500e+01],
       [1.000000e+00, 4.300000e+01, 0.000000e+00, 1.000000e+00,
        2.113375e+02],
       [3.000000e+00, 1.300000e+01, 0.000000e+00, 0.000000e+00,
        7.229200e+00],
       [1.000000e+00, 1.700000e+01, 1.000000e+00, 0.000000e+00,
        5.700000e+01],
       [1.000000e+00, 2.900000e+01, 0.000000e+00, 0.000000e+00,
        3.000000e+01],
       [3.000000e+00, 2.500000e+01, 0.000000e+00, 0.000000e+00,
        7.050000e+00],
       [3.000000e+00, 2.500000e+01, 0.000000e+00, 0.000000e+00,
        7.250000e+00],
       [3.000000e+00, 1.800000e+01, 0.000000e+00, 0.000000e+00,
        7.495800e+00],
       [3.000000e+00, 8.000000e+00, 4.000000e+00, 1.000000e+00,
        2.912500e+01],
       [3.000000e+00, 1.000000e+00, 1.000000e+00, 2.000000e+00,
        2.057500e+01],
       [1.000000e+00, 4.600000e+01, 0.000000e+00, 0.000000e+00,
        7.920000e+01],
       [2.000000e+00, 1.600000e+01, 0.000000e+00, 0.000000e+00,
        2.600000e+01],
       [3.000000e+00, 2.500000e+01, 0.000000e+00, 0.000000e+00,
        7.895800e+00],
       [2.000000e+00, 3.900000e+01, 0.000000e+00, 0.000000e+00,
        1.300000e+01],
       [1.000000e+00, 4.900000e+01, 0.000000e+00, 0.000000e+00,
        2.592920e+01],
       [3.000000e+00, 3.100000e+01, 0.000000e+00, 0.000000e+00,
        8.683300e+00],
       [3.000000e+00, 3.000000e+01, 0.000000e+00, 0.000000e+00,
        7.229200e+00],
       [3.000000e+00, 3.000000e+01, 1.000000e+00, 1.000000e+00,
        2.415000e+01],
       [2.000000e+00, 3.400000e+01, 0.000000e+00, 0.000000e+00,
        1.300000e+01],
       [2.000000e+00, 3.100000e+01, 1.000000e+00, 1.000000e+00,
        2.625000e+01],
       [1.000000e+00, 1.100000e+01, 1.000000e+00, 2.000000e+00,
        1.200000e+02],
       [3.000000e+00, 4.200000e-01, 0.000000e+00, 1.000000e+00,
        8.516700e+00],
       [3.000000e+00, 2.700000e+01, 0.000000e+00, 0.000000e+00,
        6.975000e+00],
       [3.000000e+00, 3.100000e+01, 0.000000e+00, 0.000000e+00,
        7.775000e+00],
       [1.000000e+00, 3.900000e+01, 0.000000e+00, 0.000000e+00,
        0.000000e+00],
       [3.000000e+00, 1.800000e+01, 0.000000e+00, 0.000000e+00,
        7.775000e+00],
       [2.000000e+00, 3.900000e+01, 0.000000e+00, 0.000000e+00,
        1.300000e+01],
       [1.000000e+00, 3.300000e+01, 1.000000e+00, 0.000000e+00,
        5.310000e+01],
       [3.000000e+00, 2.600000e+01, 0.000000e+00, 0.000000e+00,
        7.887500e+00],
       [3.000000e+00, 3.900000e+01, 0.000000e+00, 0.000000e+00,
        2.415000e+01],
       [2.000000e+00, 3.500000e+01, 0.000000e+00, 0.000000e+00,
        1.050000e+01],
       [3.000000e+00, 6.000000e+00, 4.000000e+00, 2.000000e+00,
        3.127500e+01],
       [3.000000e+00, 3.050000e+01, 0.000000e+00, 0.000000e+00,
        8.050000e+00],
       [3.000000e+00, 2.300000e+01, 0.000000e+00, 0.000000e+00,
        7.925000e+00],
       [2.000000e+00, 3.100000e+01, 1.000000e+00, 1.000000e+00,
        3.700420e+01],
       [3.000000e+00, 4.300000e+01, 0.000000e+00, 0.000000e+00,
        6.450000e+00],
       [3.000000e+00, 1.000000e+01, 3.000000e+00, 2.000000e+00,
        2.790000e+01],
       [1.000000e+00, 5.200000e+01, 1.000000e+00, 1.000000e+00,
        9.350000e+01],
       [3.000000e+00, 2.700000e+01, 0.000000e+00, 0.000000e+00,
        8.662500e+00],
       [1.000000e+00, 3.800000e+01, 0.000000e+00, 0.000000e+00,
        0.000000e+00],
       [3.000000e+00, 2.700000e+01, 0.000000e+00, 1.000000e+00,
        1.247500e+01],
       [3.000000e+00, 2.000000e+00, 4.000000e+00, 1.000000e+00,
        3.968750e+01],
       [2.000000e+00, 1.000000e+00, 0.000000e+00, 2.000000e+00,
        3.700420e+01],
       [3.000000e+00, 1.500000e+01, 1.000000e+00, 0.000000e+00,
        1.445420e+01],
       [2.000000e+00, 8.300000e-01, 1.000000e+00, 1.000000e+00,
        1.875000e+01],
       [3.000000e+00, 2.300000e+01, 0.000000e+00, 0.000000e+00,
        7.854200e+00],
       [3.000000e+00, 1.800000e+01, 0.000000e+00, 0.000000e+00,
        8.300000e+00],
       [1.000000e+00, 3.900000e+01, 1.000000e+00, 1.000000e+00,
        8.315830e+01],
       [3.000000e+00, 2.100000e+01, 0.000000e+00, 0.000000e+00,
        8.662500e+00],
       [3.000000e+00, 3.200000e+01, 0.000000e+00, 0.000000e+00,
        5.649580e+01],
       [3.000000e+00, 2.000000e+01, 0.000000e+00, 0.000000e+00,
        7.925000e+00],
       [2.000000e+00, 1.600000e+01, 0.000000e+00, 0.000000e+00,
        1.050000e+01],
       [1.000000e+00, 3.000000e+01, 0.000000e+00, 0.000000e+00,
        3.100000e+01],
       [3.000000e+00, 3.450000e+01, 0.000000e+00, 0.000000e+00,
        6.437500e+00],
       [3.000000e+00, 1.700000e+01, 0.000000e+00, 0.000000e+00,
        8.662500e+00],
       [3.000000e+00, 4.200000e+01, 0.000000e+00, 0.000000e+00,
        7.550000e+00],
       [3.000000e+00, 3.500000e+01, 0.000000e+00, 0.000000e+00,
        7.895800e+00],
       [2.000000e+00, 2.800000e+01, 0.000000e+00, 1.000000e+00,
        3.300000e+01],
       [3.000000e+00, 4.000000e+00, 4.000000e+00, 2.000000e+00,
        3.127500e+01],
       [3.000000e+00, 7.400000e+01, 0.000000e+00, 0.000000e+00,
        7.775000e+00],
       [3.000000e+00, 9.000000e+00, 1.000000e+00, 1.000000e+00,
        1.524580e+01],
       [1.000000e+00, 1.600000e+01, 0.000000e+00, 1.000000e+00,
        3.940000e+01],
       [2.000000e+00, 4.400000e+01, 1.000000e+00, 0.000000e+00,
        2.600000e+01],
       [3.000000e+00, 1.800000e+01, 0.000000e+00, 1.000000e+00,
        9.350000e+00],
       [1.000000e+00, 4.500000e+01, 1.000000e+00, 1.000000e+00,
        1.648667e+02],
       [1.000000e+00, 5.100000e+01, 0.000000e+00, 0.000000e+00,
        2.655000e+01],
       [3.000000e+00, 2.400000e+01, 0.000000e+00, 3.000000e+00,
        1.925830e+01],
       [3.000000e+00, 4.100000e+01, 2.000000e+00, 0.000000e+00,
        1.410830e+01],
       [2.000000e+00, 2.100000e+01, 1.000000e+00, 0.000000e+00,
        1.150000e+01],
       [1.000000e+00, 4.800000e+01, 0.000000e+00, 0.000000e+00,
        2.592920e+01],
       [2.000000e+00, 2.400000e+01, 0.000000e+00, 0.000000e+00,
        1.300000e+01],
       [2.000000e+00, 4.200000e+01, 0.000000e+00, 0.000000e+00,
        1.300000e+01],
       [2.000000e+00, 2.700000e+01, 1.000000e+00, 0.000000e+00,
        1.385830e+01],
       [1.000000e+00, 3.100000e+01, 0.000000e+00, 0.000000e+00,
        5.049580e+01],
       [3.000000e+00, 4.000000e+00, 1.000000e+00, 1.000000e+00,
        1.113330e+01],
       [3.000000e+00, 2.600000e+01, 0.000000e+00, 0.000000e+00,
        7.895800e+00],
       [1.000000e+00, 4.700000e+01, 1.000000e+00, 1.000000e+00,
        5.255420e+01],
       [1.000000e+00, 3.300000e+01, 0.000000e+00, 0.000000e+00,
        5.000000e+00],
       [3.000000e+00, 4.700000e+01, 0.000000e+00, 0.000000e+00,
        9.000000e+00],
       [2.000000e+00, 2.800000e+01, 1.000000e+00, 0.000000e+00,
        2.400000e+01],
       [3.000000e+00, 1.500000e+01, 0.000000e+00, 0.000000e+00,
        7.225000e+00],
       [3.000000e+00, 2.000000e+01, 0.000000e+00, 0.000000e+00,
        9.845800e+00],
       [3.000000e+00, 1.900000e+01, 0.000000e+00, 0.000000e+00,
        7.895800e+00],
       [1.000000e+00, 5.600000e+01, 0.000000e+00, 1.000000e+00,
        8.315830e+01],
       [2.000000e+00, 2.500000e+01, 0.000000e+00, 1.000000e+00,
        2.600000e+01],
       [3.000000e+00, 3.300000e+01, 0.000000e+00, 0.000000e+00,
        7.895800e+00],
       [3.000000e+00, 2.200000e+01, 0.000000e+00, 0.000000e+00,
        1.051670e+01],
       [2.000000e+00, 2.800000e+01, 0.000000e+00, 0.000000e+00,
        1.050000e+01],
       [3.000000e+00, 2.500000e+01, 0.000000e+00, 0.000000e+00,
        7.050000e+00],
       [3.000000e+00, 3.900000e+01, 0.000000e+00, 5.000000e+00,
        2.912500e+01],
       [2.000000e+00, 2.700000e+01, 0.000000e+00, 0.000000e+00,
        1.300000e+01],
       [1.000000e+00, 1.900000e+01, 0.000000e+00, 0.000000e+00,
        3.000000e+01],
       [1.000000e+00, 2.600000e+01, 0.000000e+00, 0.000000e+00,
        3.000000e+01],
       [3.000000e+00, 3.200000e+01, 0.000000e+00, 0.000000e+00,
        7.750000e+00]])

In [14]:
y_test = y_feature[534:]
y_test

array([1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1,
       0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0,
       1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1,
       0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1,
       0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 0], dtype=int64)

In [15]:
clf = RandomForestClassifier(n_estimators=800)
clf.fit(x_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=800,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [16]:
prediction = clf.predict(x_test)
print(prediction == y_test)

[False  True  True  True  True  True False False  True  True  True False
  True  True  True  True  True  True False  True False  True  True  True
 False  True False  True False  True  True False  True  True  True False
  True  True  True False  True  True  True False False False  True False
  True  True  True  True  True False  True  True False False  True False
 False  True  True  True  True  True  True  True  True  True  True  True
  True False  True False  True  True  True  True  True False False  True
  True  True False  True False  True  True False  True  True  True False
  True  True False False  True  True False False  True False False  True
  True  True  True  True  True  True False  True  True  True False  True
  True False False  True False  True  True False  True  True  True  True
  True  True  True False  True  True  True  True  True False  True  True
 False  True  True False  True  True  True  True  True False  True  True
 False  True  True  True  True  True  True False False  True  True False
  True  True  True False  True  True  True  True  True False]

In [17]:
clf.score(x_test, y_test)

0.7078651685393258

## Naive Bayes

In [18]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

from sklearn.naive_bayes import MultinomialNB

# Data from here: https://www.kaggle.com/sakshigoyal7/credit-card-customers
data2 = pd.read_csv('BankChurners.csv')

In [19]:
data2.shape

(10127, 23)

In [20]:
data2.head()

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.99991
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.99994
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.99998
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,...,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,0.000134,0.99987
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.99998

In [21]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10127 entries, 0 to 10126
Data columns (total 23 columns):
 #   Column                                                                                                                              Non-Null Count  Dtype
---  ------                                                                                                                              --------------  -----
 0   CLIENTNUM                                                                                                                           10127 non-null  int64
 1   Attrition_Flag                                                                                                                      10127 non-null  object
 2   Customer_Age                                                                                                                        10127 non-null  int64
 3   Gender                                                                                                                              10127 non-null  object
 4   Dependent_count                                                                                                                     10127 non-null  int64
 5   Education_Level                                                                                                                     10127 non-null  object
 6   Marital_Status                                                                                                                      10127 non-null  object
 7   Income_Category                                                                                                                     10127 non-null  object
 8   Card_Category                                                                                                                       10127 non-null  object
 9   Months_on_book                                                                                                                      10127 non-null  int64
 10  Total_Relationship_Count                                                                                                            10127 non-null  int64
 11  Months_Inactive_12_mon                                                                                                              10127 non-null  int64
 12  Contacts_Count_12_mon                                                                                                               10127 non-null  int64
 13  Credit_Limit                                                                                                                        10127 non-null  float64
 14  Total_Revolving_Bal                                                                                                                 10127 non-null  int64
 15  Avg_Open_To_Buy                                                                                                                     10127 non-null  float64
 16  Total_Amt_Chng_Q4_Q1                                                                                                                10127 non-null  float64
 17  Total_Trans_Amt                                                                                                                     10127 non-null  int64
 18  Total_Trans_Ct                                                                                                                      10127 non-null  int64
 19  Total_Ct_Chng_Q4_Q1                                                                                                                 10127 non-null  float64
 20  Avg_Utilization_Ratio                                                                                                               10127 non-null  float64
 21  Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1  10127 non-null  float64
 22  Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2  10127 non-null  float64
dtypes: float64(7), int64(10), object(6)
memory usage: 1.8+ MB

In [22]:
data2.isnull().sum()

CLIENTNUM                                                                                                                             0
Attrition_Flag                                                                                                                        0
Customer_Age                                                                                                                          0
Gender                                                                                                                                0
Dependent_count                                                                                                                       0
Education_Level                                                                                                                       0
Marital_Status                                                                                                                        0
Income_Category                                                                                                                       0
Card_Category                                                                                                                         0
Months_on_book                                                                                                                        0
Total_Relationship_Count                                                                                                              0
Months_Inactive_12_mon                                                                                                                0
Contacts_Count_12_mon                                                                                                                 0
Credit_Limit                                                                                                                          0
Total_Revolving_Bal                                                                                                                   0
Avg_Open_To_Buy                                                                                                                       0
Total_Amt_Chng_Q4_Q1                                                                                                                  0
Total_Trans_Amt                                                                                                                       0
Total_Trans_Ct                                                                                                                        0
Total_Ct_Chng_Q4_Q1                                                                                                                   0
Avg_Utilization_Ratio                                                                                                                 0
Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1    0
Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2    0
dtype: int64

In [23]:
data2.columns

Index(['CLIENTNUM', 'Attrition_Flag', 'Customer_Age', 'Gender',
       'Dependent_count', 'Education_Level', 'Marital_Status',
       'Income_Category', 'Card_Category', 'Months_on_book',
       'Total_Relationship_Count', 'Months_Inactive_12_mon',
       'Contacts_Count_12_mon', 'Credit_Limit', 'Total_Revolving_Bal',
       'Avg_Open_To_Buy', 'Total_Amt_Chng_Q4_Q1', 'Total_Trans_Amt',
       'Total_Trans_Ct', 'Total_Ct_Chng_Q4_Q1', 'Avg_Utilization_Ratio',
       'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1',
       'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2'],
      dtype='object')

In [24]:
x_feature2 = data2[['Customer_Age', 'Gender',
       'Dependent_count', 'Education_Level', 'Marital_Status',
       'Income_Category', 'Card_Category', 'Months_on_book',
       'Total_Relationship_Count', 'Months_Inactive_12_mon',
       'Contacts_Count_12_mon', 'Credit_Limit', 'Total_Revolving_Bal',
       'Avg_Open_To_Buy', 'Total_Amt_Chng_Q4_Q1', 'Total_Trans_Amt',
       'Total_Trans_Ct', 'Total_Ct_Chng_Q4_Q1', 'Avg_Utilization_Ratio']]
x_feature2

,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,45,M,3,High School,Married,$60K - $80K,Blue,39,5,1,3,12691.0,777,11914.0,1.335,1144,42,1.625,0.061
1,49,F,5,Graduate,Single,Less than $40K,Blue,44,6,1,2,8256.0,864,7392.0,1.541,1291,33,3.714,0.105
2,51,M,3,Graduate,Married,$80K - $120K,Blue,36,4,1,0,3418.0,0,3418.0,2.594,1887,20,2.333,0.000
3,40,F,4,High School,Unknown,Less than $40K,Blue,34,3,4,1,3313.0,2517,796.0,1.405,1171,20,2.333,0.760
4,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,5,1,0,4716.0,0,4716.0,2.175,816,28,2.500,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10122,50,M,2,Graduate,Single,$40K - $60K,Blue,40,3,2,3,4003.0,1851,2152.0,0.703,15476,117,0.857,0.462
10123,41,M,2,Unknown,Divorced,$40K - $60K,Blue,25,4,2,3,4277.0,2186,2091.0,0.804,8764,69,0.683,0.511
10124,44,F,1,High School,Married,Less than $40K,Blue,36,5,3,4,5409.0,0,5409.0,0.819,10291,60,0.818,0.000
10125,30,M,2,Graduate,Unknown,$40K - $60K,Blue,36,4,3,3,5281.0,0,5281.0,0.535,8395,62,0.722,0.000
10126,43,F,2,Graduate,Married,Less than $40K,Silver,25,6,2,4,10388.0,1961,8427.0,0.703,10294,61,0.649,0.189

In [25]:
y_feature2 = data2['Attrition_Flag']
y_feature2

0        Existing Customer
1        Existing Customer
2        Existing Customer
3        Existing Customer
4        Existing Customer
               ...
10122    Existing Customer
10123    Attrited Customer
10124    Attrited Customer
10125    Attrited Customer
10126    Attrited Customer
Name: Attrition_Flag, Length: 10127, dtype: object

In [26]:
en = LabelEncoder()

x_feature2['Gender'] = en.fit_transform(x_feature2['Gender'])
x_feature2['Education_Level'] = en.fit_transform(x_feature2['Education_Level'])
x_feature2['Marital_Status'] = en.fit_transform(x_feature2['Marital_Status'])
x_feature2['Income_Category'] = en.fit_transform(x_feature2['Income_Category'])
x_feature2['Card_Category'] = en.fit_transform(x_feature2['Card_Category'])

x_feature2.head()

c:\users\sean\anaconda3\envs\py3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
c:\users\sean\anaconda3\envs\py3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
c:\users\sean\anaconda3\envs\py3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
c:\users\sean\anaconda3\envs\py3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

c:\users\sean\anaconda3\envs\py3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,45,1,3,3,1,2,0,39,5,1,3,12691.0,777,11914.0,1.335,1144,42,1.625,0.061
1,49,0,5,2,2,4,0,44,6,1,2,8256.0,864,7392.0,1.541,1291,33,3.714,0.105
2,51,1,3,2,1,3,0,36,4,1,0,3418.0,0,3418.0,2.594,1887,20,2.333,0.000
3,40,0,4,3,3,4,0,34,3,4,1,3313.0,2517,796.0,1.405,1171,20,2.333,0.760
4,40,1,3,5,1,2,0,21,5,1,0,4716.0,0,4716.0,2.175,816,28,2.500,0.000

In [27]:
y_feature2 = en.fit_transform(y_feature2)
y_feature2

array([1, 1, 1, ..., 0, 0, 0])

In [28]:
x_train2, x_test2, y_train2, y_test2 = train_test_split(x_feature2, y_feature2, test_size=0.20, shuffle=True)

In [29]:
mnb = MultinomialNB()
mnb.fit(x_train2, y_train2)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [30]:
prediction2 = mnb.predict(x_test2)
print(prediction2 == y_test2)

[ True  True  True ...  True False False]

In [31]:
mnb.score(x_test2, y_test2)

0.6549851924975321

## SVM (Support Vector Machine)

In [32]:
from sklearn.svm import SVC 

# Data from here: https://www.kaggle.com/fedesoriano/company-bankruptcy-prediction
data3 = pd.read_csv('bankruptcy_data.csv')

In [33]:
data3.shape

(6819, 96)

In [34]:
data3.head()

,Bankrupt?,ROA(C) before interest and depreciation before interest,ROA(A) before interest and % after tax,ROA(B) before interest and depreciation after tax,Operating Gross Margin,Realized Sales Gross Margin,Operating Profit Rate,Pre-tax net Interest Rate,After-tax net Interest Rate,Non-industry income and expenditure/revenue,...,Net Income to Total Assets,Total assets to GNP price,No-credit Interval,Gross Profit to Sales,Net Income to Stockholder's Equity,Liability to Equity,Degree of Financial Leverage (DFL),Interest Coverage Ratio (Interest expense to EBIT),Net Income Flag,Equity to Liability
0,1,0.370594,0.424389,0.405750,0.601457,0.601457,0.998969,0.796887,0.808809,0.302646,...,0.716845,0.009219,0.622879,0.601453,0.827890,0.290202,0.026601,0.564050,1,0.016469
1,1,0.464291,0.538214,0.516730,0.610235,0.610235,0.998946,0.797380,0.809301,0.303556,...,0.795297,0.008323,0.623652,0.610237,0.839969,0.283846,0.264577,0.570175,1,0.020794
2,1,0.426071,0.499019,0.472295,0.601450,0.601364,0.998857,0.796403,0.808388,0.302035,...,0.774670,0.040003,0.623841,0.601449,0.836774,0.290189,0.026555,0.563706,1,0.016474
3,1,0.399844,0.451265,0.457733,0.583541,0.583541,0.998700,0.796967,0.808966,0.303350,...,0.739555,0.003252,0.622929,0.583538,0.834697,0.281721,0.026697,0.564663,1,0.023982
4,1,0.465022,0.538432,0.522298,0.598783,0.598783,0.998973,0.797366,0.809304,0.303475,...,0.795016,0.003878,0.623521,0.598782,0.839973,0.278514,0.024752,0.575617,1,0.035490

In [35]:
data3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6819 entries, 0 to 6818
Data columns (total 96 columns):
 #   Column                                                    Non-Null Count  Dtype
---  ------                                                    --------------  -----
 0   Bankrupt?                                                 6819 non-null   int64
 1    ROA(C) before interest and depreciation before interest  6819 non-null   float64
 2    ROA(A) before interest and % after tax                   6819 non-null   float64
 3    ROA(B) before interest and depreciation after tax        6819 non-null   float64
 4    Operating Gross Margin                                   6819 non-null   float64
 5    Realized Sales Gross Margin                              6819 non-null   float64
 6    Operating Profit Rate                                    6819 non-null   float64
 7    Pre-tax net Interest Rate                                6819 non-null   float64
 8    After-tax net Interest Rate                              6819 non-null   float64
 9    Non-industry income and expenditure/revenue              6819 non-null   float64
 10   Continuous interest rate (after tax)                     6819 non-null   float64
 11   Operating Expense Rate                                   6819 non-null   float64
 12   Research and development expense rate                    6819 non-null   float64
 13   Cash flow rate                                           6819 non-null   float64
 14   Interest-bearing debt interest rate                      6819 non-null   float64
 15   Tax rate (A)                                             6819 non-null   float64
 16   Net Value Per Share (B)                                  6819 non-null   float64
 17   Net Value Per Share (A)                                  6819 non-null   float64
 18   Net Value Per Share (C)                                  6819 non-null   float64
 19   Persistent EPS in the Last Four Seasons                  6819 non-null   float64
 20   Cash Flow Per Share                                      6819 non-null   float64
 21   Revenue Per Share (Yuan ¥)                               6819 non-null   float64
 22   Operating Profit Per Share (Yuan ¥)                      6819 non-null   float64
 23   Per Share Net profit before tax (Yuan ¥)                 6819 non-null   float64
 24   Realized Sales Gross Profit Growth Rate                  6819 non-null   float64
 25   Operating Profit Growth Rate                             6819 non-null   float64
 26   After-tax Net Profit Growth Rate                         6819 non-null   float64
 27   Regular Net Profit Growth Rate                           6819 non-null   float64
 28   Continuous Net Profit Growth Rate                        6819 non-null   float64
 29   Total Asset Growth Rate                                  6819 non-null   float64
 30   Net Value Growth Rate                                    6819 non-null   float64
 31   Total Asset Return Growth Rate Ratio                     6819 non-null   float64
 32   Cash Reinvestment %                                      6819 non-null   float64
 33   Current Ratio                                            6819 non-null   float64
 34   Quick Ratio                                              6819 non-null   float64
 35   Interest Expense Ratio                                   6819 non-null   float64
 36   Total debt/Total net worth                               6819 non-null   float64
 37   Debt ratio %                                             6819 non-null   float64
 38   Net worth/Assets                                         6819 non-null   float64
 39   Long-term fund suitability ratio (A)                     6819 non-null   float64
 40   Borrowing dependency                                     6819 non-null   float64
 41   Contingent liabilities/Net worth                         6819 non-null   float64
 42   Operating profit/Paid-in capital                         6819 non-null   float64
 43   Net profit before tax/Paid-in capital                    6819 non-null   float64
 44   Inventory and accounts receivable/Net value              6819 non-null   float64
 45   Total Asset Turnover                                     6819 non-null   float64
 46   Accounts Receivable Turnover                             6819 non-null   float64
 47   Average Collection Days                                  6819 non-null   float64
 48   Inventory Turnover Rate (times)                          6819 non-null   float64
 49   Fixed Assets Turnover Frequency                          6819 non-null   float64
 50   Net Worth Turnover Rate (times)                          6819 non-null   float64
 51   Revenue per person                                       6819 non-null   float64
 52   Operating profit per person                              6819 non-null   float64
 53   Allocation rate per person                               6819 non-null   float64
 54   Working Capital to Total Assets                          6819 non-null   float64
 55   Quick Assets/Total Assets                                6819 non-null   float64
 56   Current Assets/Total Assets                              6819 non-null   float64
 57   Cash/Total Assets                                        6819 non-null   float64
 58   Quick Assets/Current Liability                           6819 non-null   float64
 59   Cash/Current Liability                                   6819 non-null   float64
 60   Current Liability to Assets                              6819 non-null   float64
 61   Operating Funds to Liability                             6819 non-null   float64
 62   Inventory/Working Capital                                6819 non-null   float64
 63   Inventory/Current Liability                              6819 non-null   float64
 64   Current Liabilities/Liability                            6819 non-null   float64
 65   Working Capital/Equity                                   6819 non-null   float64
 66   Current Liabilities/Equity                               6819 non-null   float64
 67   Long-term Liability to Current Assets                    6819 non-null   float64
 68   Retained Earnings to Total Assets                        6819 non-null   float64
 69   Total income/Total expense                               6819 non-null   float64
 70   Total expense/Assets                                     6819 non-null   float64
 71   Current Asset Turnover Rate                              6819 non-null   float64
 72   Quick Asset Turnover Rate                                6819 non-null   float64
 73   Working capitcal Turnover Rate                           6819 non-null   float64
 74   Cash Turnover Rate                                       6819 non-null   float64
 75   Cash Flow to Sales                                       6819 non-null   float64
 76   Fixed Assets to Assets                                   6819 non-null   float64
 77   Current Liability to Liability                           6819 non-null   float64
 78   Current Liability to Equity                              6819 non-null   float64
 79   Equity to Long-term Liability                            6819 non-null   float64
 80   Cash Flow to Total Assets                                6819 non-null   float64
 81   Cash Flow to Liability                                   6819 non-null   float64
 82   CFO to Assets                                            6819 non-null   float64
 83   Cash Flow to Equity                                      6819 non-null   float64
 84   Current Liability to Current Assets                      6819 non-null   float64
 85   Liability-Assets Flag                                    6819 non-null   int64
 86   Net Income to Total Assets                               6819 non-null   float64
 87   Total assets to GNP price                                6819 non-null   float64
 88   No-credit Interval                                       6819 non-null   float64
 89   Gross Profit to Sales                                    6819 non-null   float64
 90   Net Income to Stockholder's Equity                       6819 non-null   float64
 91   Liability to Equity                                      6819 non-null   float64
 92   Degree of Financial Leverage (DFL)                       6819 non-null   float64
 93   Interest Coverage Ratio (Interest expense to EBIT)       6819 non-null   float64
 94   Net Income Flag                                          6819 non-null   int64
 95   Equity to Liability                                      6819 non-null   float64
dtypes: float64(93), int64(3)
memory usage: 5.0 MB

In [36]:
data3.isnull().sum()

Bankrupt?                                                   0
 ROA(C) before interest and depreciation before interest    0
 ROA(A) before interest and % after tax                     0
 ROA(B) before interest and depreciation after tax          0
 Operating Gross Margin                                     0
                                                           ..
 Liability to Equity                                        0
 Degree of Financial Leverage (DFL)                         0
 Interest Coverage Ratio (Interest expense to EBIT)         0
 Net Income Flag                                            0
 Equity to Liability                                        0
Length: 96, dtype: int64

In [37]:
data3.dropna(inplace=True)
data3.shape

(6819, 96)

In [38]:
data3.columns

Index(['Bankrupt?', ' ROA(C) before interest and depreciation before interest',
       ' ROA(A) before interest and % after tax',
       ' ROA(B) before interest and depreciation after tax',
       ' Operating Gross Margin', ' Realized Sales Gross Margin',
       ' Operating Profit Rate', ' Pre-tax net Interest Rate',
       ' After-tax net Interest Rate',
       ' Non-industry income and expenditure/revenue',
       ' Continuous interest rate (after tax)', ' Operating Expense Rate',
       ' Research and development expense rate', ' Cash flow rate',
       ' Interest-bearing debt interest rate', ' Tax rate (A)',
       ' Net Value Per Share (B)', ' Net Value Per Share (A)',
       ' Net Value Per Share (C)', ' Persistent EPS in the Last Four Seasons',
       ' Cash Flow Per Share', ' Revenue Per Share (Yuan ¥)',
       ' Operating Profit Per Share (Yuan ¥)',
       ' Per Share Net profit before tax (Yuan ¥)',
       ' Realized Sales Gross Profit Growth Rate',
       ' Operating Profit Growth Rate', ' After-tax Net Profit Growth Rate',
       ' Regular Net Profit Growth Rate', ' Continuous Net Profit Growth Rate',
       ' Total Asset Growth Rate', ' Net Value Growth Rate',
       ' Total Asset Return Growth Rate Ratio', ' Cash Reinvestment %',
       ' Current Ratio', ' Quick Ratio', ' Interest Expense Ratio',
       ' Total debt/Total net worth', ' Debt ratio %', ' Net worth/Assets',
       ' Long-term fund suitability ratio (A)', ' Borrowing dependency',
       ' Contingent liabilities/Net worth',
       ' Operating profit/Paid-in capital',
       ' Net profit before tax/Paid-in capital',
       ' Inventory and accounts receivable/Net value', ' Total Asset Turnover',
       ' Accounts Receivable Turnover', ' Average Collection Days',
       ' Inventory Turnover Rate (times)', ' Fixed Assets Turnover Frequency',
       ' Net Worth Turnover Rate (times)', ' Revenue per person',
       ' Operating profit per person', ' Allocation rate per person',
       ' Working Capital to Total Assets', ' Quick Assets/Total Assets',
       ' Current Assets/Total Assets', ' Cash/Total Assets',
       ' Quick Assets/Current Liability', ' Cash/Current Liability',
       ' Current Liability to Assets', ' Operating Funds to Liability',
       ' Inventory/Working Capital', ' Inventory/Current Liability',
       ' Current Liabilities/Liability', ' Working Capital/Equity',
       ' Current Liabilities/Equity', ' Long-term Liability to Current Assets',
       ' Retained Earnings to Total Assets', ' Total income/Total expense',
       ' Total expense/Assets', ' Current Asset Turnover Rate',
       ' Quick Asset Turnover Rate', ' Working capitcal Turnover Rate',
       ' Cash Turnover Rate', ' Cash Flow to Sales', ' Fixed Assets to Assets',
       ' Current Liability to Liability', ' Current Liability to Equity',
       ' Equity to Long-term Liability', ' Cash Flow to Total Assets',
       ' Cash Flow to Liability', ' CFO to Assets', ' Cash Flow to Equity',
       ' Current Liability to Current Assets', ' Liability-Assets Flag',
       ' Net Income to Total Assets', ' Total assets to GNP price',
       ' No-credit Interval', ' Gross Profit to Sales',
       ' Net Income to Stockholder's Equity', ' Liability to Equity',
       ' Degree of Financial Leverage (DFL)',
       ' Interest Coverage Ratio (Interest expense to EBIT)',
       ' Net Income Flag', ' Equity to Liability'],
      dtype='object')

In [39]:
x_feature3 = data3[[' ROA(C) before interest and depreciation before interest',
       ' ROA(A) before interest and % after tax',
       ' ROA(B) before interest and depreciation after tax',
       ' Operating Gross Margin', ' Realized Sales Gross Margin',
       ' Operating Profit Rate', ' Pre-tax net Interest Rate',
       ' After-tax net Interest Rate',
       ' Non-industry income and expenditure/revenue',
       ' Continuous interest rate (after tax)']]
x_feature3

,ROA(C) before interest and depreciation before interest,ROA(A) before interest and % after tax,ROA(B) before interest and depreciation after tax,Operating Gross Margin,Realized Sales Gross Margin,Operating Profit Rate,Pre-tax net Interest Rate,After-tax net Interest Rate,Non-industry income and expenditure/revenue,Continuous interest rate (after tax)
0,0.370594,0.424389,0.405750,0.601457,0.601457,0.998969,0.796887,0.808809,0.302646,0.780985
1,0.464291,0.538214,0.516730,0.610235,0.610235,0.998946,0.797380,0.809301,0.303556,0.781506
2,0.426071,0.499019,0.472295,0.601450,0.601364,0.998857,0.796403,0.808388,0.302035,0.780284
3,0.399844,0.451265,0.457733,0.583541,0.583541,0.998700,0.796967,0.808966,0.303350,0.781241
4,0.465022,0.538432,0.522298,0.598783,0.598783,0.998973,0.797366,0.809304,0.303475,0.781550
...,...,...,...,...,...,...,...,...,...,...
6814,0.493687,0.539468,0.543230,0.604455,0.604462,0.998992,0.797409,0.809331,0.303510,0.781588
6815,0.475162,0.538269,0.524172,0.598308,0.598308,0.998992,0.797414,0.809327,0.303520,0.781586
6816,0.472725,0.533744,0.520638,0.610444,0.610213,0.998984,0.797401,0.809317,0.303512,0.781546
6817,0.506264,0.559911,0.554045,0.607850,0.607850,0.999074,0.797500,0.809399,0.303498,0.781663
6818,0.493053,0.570105,0.549548,0.627409,0.627409,0.998080,0.801987,0.813800,0.313415,0.786079

In [40]:
y_feature3 = data3['Bankrupt?']
y_feature3

0       1
1       1
2       1
3       1
4       1
       ..
6814    0
6815    0
6816    0
6817    0
6818    0
Name: Bankrupt?, Length: 6819, dtype: int64

In [41]:
x_train3, x_test3, y_train3, y_test3 = train_test_split(x_feature3, y_feature3, test_size=0.20, shuffle=True)

In [42]:
svc = SVC(kernel='linear')
svc.fit(x_train3, y_train3)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [43]:
prediction3 = svc.predict(x_test3)
print(prediction3 == y_test3)

5724    True
3081    True
5772    True
3143    True
2766    True
        ...
5585    True
3902    True
5674    True
2865    True
3128    True
Name: Bankrupt?, Length: 1364, dtype: bool

In [44]:
svc.score(x_test3, y_test3)

0.966275659824047